p, label {
    color: #D3D5FD;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0B0B0D;
    margin: 0;
}

main {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

form {
    display: flex;
    flex-flow: column wrap;
    height: 200px;
    width: 400px;
    background-color: #474A56;
    outline: 2px dashed gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 17vh;
    width: 100%;
    border: 1px solid white;
}

.player audio{
    width: 50%;
    height: 30px;
    display: none;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 10%;
    contain: content;
}

.buttons img {
    height: 32px;
}

.controls {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 40px;
    align-self: center;
    border: 1px solid white;
}

.controls img {
    height: 25px;
}

#seekControl {
    width: 100%;
    height: 10px;
}

.seek-controls {
    grid-column-start: 2;
    display: flex;
    flex-flow: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid white;

}

.song-info {
    left: 20px;
    width: auto;
    display: flex;
    align-self: center;
    position: absolute;
}

.details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.details p {
    margin: 0;
    padding: 5px;
}

#albumCover {
    height: 80px;
    width: auto;
    border-radius: 8px;
}

.playTime {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.playTime p{
    margin: 0;
    padding: 0;
}