p, label {
    color: #D3D5FD;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0B0B0D;
    margin: 0;
}

main {
    height: calc(100vh - 80px - 60px);
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: calc(80% - 250px);
    background-color: #474A56;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
}

.player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.player audio{
    width: 50%;
    height: 30px;
    display: none;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 10%;
    contain: content;
}

.buttons img {
    height: 32px;
}

.controls {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 40px;
    align-self: center;
}

.controls img {
    height: 25px;
}

#seekControl {
    width: 100%;
    height: 10px;
}

.seek-controls {
    grid-column-start: 2;
    display: flex;
    flex-flow: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.song-info {
    left: 10px;
    width: auto;
    display: flex;
    align-self: center;
    position: absolute;
    justify-content: space-around;
}

.details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.details p {
    margin: 0;
    padding: 5px;
}

#albumCover {
    height: 58px;
    width: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.playTime {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.playTime p{
    margin: 0;
    padding: 0;
}

.headMenu {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.sidebar {
    height: 100%;
    background-color: gray;
    width: 35%;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}

.playView {
    width: calc(30% - 10px);
    height: 100%;
    background-color: gray;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}